.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  &__wrapper {
    padding: 60px 10px 0 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(230px, auto));
    grid-template-rows: repeat(2, minmax(230px, auto));
    grid-auto-rows: minmax(270px, auto);
    gap: 40px;
  }
  &__item {
    padding: 30px 30px 25px 30px;
    border: 1px solid #000000;
  }

  &__subtitle {
    margin-top: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
  }
  &__descr {
    margin-top: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
  }
}
