.subheader {
    &__subtitle {
        color: #000;
        text-align: center;
        position: relative;
        @include before-circle;
        &:before {
            left: 47%;
            transform: translateX(-58%);
        }
        &_promo {
            text-align: left;
            padding-left: 8px;
            z-index: 2;
            color: #fff;
            &:before {
                background-color: rgba(127,255,0,0.8);
                left: 2%;
                transform: translateX(-60%);
            }
        }
        &_about-me {
            text-align: left;
            padding-left: 10px;
            &:before {
                left: 2%;
                transform: translateX(-37%);
            }
        }
        &_skills {
            &:before {
                left: 46%;
            }
        }
        &_my-experience {
            &:before {
                transform: translateX(-58%);
            }
        }
        &_works {
            &:before {
                transform: translateX(-100%);
            }
        }
        &_contacts {
            text-align: left;
            padding-left: 10px;
            &:before {
                left: 2%;
                transform: translateX(-33%);
            }
        }
    }
    &__title {
        text-align: center;
        margin: 25px 0;
        &_about-me {
            text-align: left;
            margin: 10px 0;
        }
        &_contacts {
            text-align: left;
            margin: 10px 0;
        }
    }
    &__divider {
        width: 60px;
        height: 3px;
        background-color: $main-color;
        margin: 0 auto;
        &_about-me {
            margin: auto 0;
        }
        &_contacts {
            margin: auto 0;
        }
    }

}