.subheader {
  &__subtitle {
    color: #000;
    text-align: center;
    position: relative;
    @include before-circle;
    &:before {
      left: 47%;
      transform: translateX(-58%);
    }
    &_promo {
      text-align: left;
      padding-left: 8px;
      z-index: 2;
      color: #fff;
      &:before {
        background-color: rgba(127, 255, 0, 0.8);
        left: 2%;
        transform: translateX(-52%);
      }
    }
    &_about-me {
      text-align: left;
      padding-left: 10px;
      margin-top: 8px;
      &:before {
        left: 2%;
        transform: translateX(-20%);
      }
    }
    &_skills {
      &:before {
        left: 46%;
        transform: translateX(-46%);
      }
    }
    &_my-experience {
      &:before {
        left: 44%;
        transform: translateX(-64%);
      }
    }
    &_works {
      &:before {
        left: 46%;
        transform: translateX(-88%);
      }
    }
  }
  &__title {
    text-align: center;
    margin: 25px 0;
    &_about-me {
      text-align: left;
      margin: 10px 0;
    }
  }
  &__divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin: 0 auto;
    &_about-me {
      margin: auto 0;
    }
  }
}
