.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  &_fz14 {
    font-size: 14px;
    line-height: 21px;
  }
  &_fz19 {
    font-size: 19px;
    line-height: 24px;
    color: #000;
  }
  &_fz20 {
    font-size: 20px;
    line-height: 30px;
    color: #000;
  }
  &_fz48 {
    font-size: 48px;
    color: #fff;
    line-height: 57px;
  }
}
